@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #ff6900;
  --color-primary-foreground: #ffffff;
  --color-background: #ffffff;
  --color-surface: #f3f4f6;
  --color-surface-hover: #e5e7eb;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #0f172a;
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
